body{
  background: url(/img/bg2.jpg);
}

.header {
  background-color: rgba(223, 217, 215, 0.685);
  color: black;
  font-size: 25px;
  font-weight: bolder;
  margin-top:0px ;

}
.jumbo {
  background-image: url(/img/bg4.jpg);
  height: 510px;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -100;
}

.jumbo-text {
  font-size: 50px;
  margin-top: 4em;
  margin-left: 2em;
  color: rgb(244, 247, 250);
  font-weight: 600;
}

.card-grp {
  margin-top: 20em;
}

.para {
  font-family: 'Lora', serif;
  font-size: 22px;
  
}

.seperator {
  margin: 25px 0;
  border-radius: 60%;
  width: 300px;
  height: 8px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.inner{
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}

.cards{
  transition: 0.5s ease ;
  background-color: #fcf8f7;
  cursor: pointer;
}
.cards:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 5px rgb(240, 18, 18);
}


.jumbo-banner {
  background-color: #807978;
  margin-top: 10em;
  color: aliceblue;
}

.banner-img img {
  border-radius: 50%;
  background-color: aliceblue;
}

.headings{
  color: #585453;
  font-weight: 550;
  font-size: 30px;
  font-family: "Times New Roman";
  letter-spacing: 1rem;
}
.heading1{
  color: #585453;
  font-weight: bold;
  font-size: 30px;
  font-family: "Times New Roman";
}

.card-bg {
  border: none;
  background-color: #fcf8f7;
  border-radius: 14px;
}


.footer-style {
  background-color: #807978a8;
  margin-top: 10em;
}

.footer{
  background-color: #8e8c92a4;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  margin-top: 9em;

}

.box{
  background-color: rgba(11, 12, 12, 0.575);
  width: 1533px;
  height: 70px;
  color: #fcf8f7;
}

.img-animation {
  transition: 0.5s ease ;
  cursor: pointer;
}
.img-animation:hover {
  transform: scale(1.1);
}